<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" href="style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="login-page">
  <div class="form">
    <p class="error_message"> <% if (messages.error) { %>
      <%= messages.error %>
    <% } %> </p>
    <form class="login-form" action="/login" method="POST">
      <input type="text" placeholder="Email" name="username" required/>
      <input type="password" placeholder="password" id="password" name="password" required/>
      <button>login</button>
    </form>
  </div>
</div>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script><script  src="script.js"></script>

</body>
</html>